<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <h1 id="heading">Quora Posts</h1>
    <a href="/addpost">Add new Post</a>
    <div class="posts">
        <%for(let post of posts){%>
            <div class="post">
                <h2><%=post.username%></h2>
                <p><%=post.description%></p>
                <form action="/editpost"><button>edit</button></form>
                <br>
                <form action="/deletepost"><button>delete</button></form>
            </div>  
        <%}%>
    </div>
</body>
</html>