<%- include('includes/header') %>
<body>
    
    <h1 id="heading">Quora Posts</h1>
    <a href="/posts/addpost">Add new Post</a>
    <hr>
    <div class="posts">
        <%for(let post of posts){%>
            <a href="/posts/show/<%=post.id%>" class="post">
                <h2>@<%=post.username%></h2>
                <h3><%=post.description%></h3>
                <hr>
                 <p class="show-more">click on card to see more</p>
            </a>  
        <%}%>
    </div>
</body>
</html>